p {
  margin: 0 auto; }

h3 {
  font-size: 2rem;
  margin: .75rem; }

.new-workout-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.workout-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%; }

.new-workout-jog {
  width: 40%; }

.workout-inputs {
  width: 100%; }

.sample-select {
  width: 85%; }

.sample-duration {
  margin-left: .5rem;
  height: 1.5rem;
  width: 6rem; }

.preview-button {
  width: 15%;
  height: 1.5rem;
  border-radius: 10%; }

.save-workout-button {
  background-color: #3C7A89;
  border-radius: 10%;
  color: white;
  margin-top: 2rem;
  width: 7rem;
  height: 2rem; }

.speed-container {
  display: flex;
  align-items: center; }
