.header {
  font-size: 4.5rem; }

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.welcome-msg {
  width: 22%; }

.header-buttons {
  width: 22%; }

.logout-button {
  background-color: #DBC2CF;
  border-radius: 10%; }

.header-spacing {
  width: 22%; }
