.header {
  font-size: 5rem; }

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.welcome-msg {
  width: 22%; }

.header-buttons {
  width: 22%; }

.header-spacing {
  width: 22%; }
