.App {
  text-align: center;
  background-color: #2E4756;
  height: 100vh;
  color: #DBC2CF; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.get-started-button {
  height: 4rem;
  margin-top: 6rem;
  width: 8rem;
  background-color: #3C7A89;
  color: white; }

.a-tag {
  height: 10rem;
  color: #DBC2CF; }
